<div>
    <h2 id="page-heading">
        <span jhiTranslate="signInServerApp.eventCheckIn.home.title">Event Check Ins</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-event-check-in" [routerLink]="['/event-check-in/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="signInServerApp.eventCheckIn.home.createLabel">
            Create a new Event Check In
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="eventCheckIns?.length === 0">
        <span jhiTranslate="signInServerApp.eventCheckIn.home.notFound">No eventCheckIns found</span>
    </div>
    <div class="table-responsive" *ngIf="eventCheckIns?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userName"><span jhiTranslate="signInServerApp.eventCheckIn.userName">User Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="phoneNumber"><span jhiTranslate="signInServerApp.eventCheckIn.phoneNumber">Phone Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="address"><span jhiTranslate="signInServerApp.eventCheckIn.address">Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="checkTime"><span jhiTranslate="signInServerApp.eventCheckIn.checkTime">Check Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isCheckIn"><span jhiTranslate="signInServerApp.eventCheckIn.isCheckIn">Is Check In</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let eventCheckIn of eventCheckIns ;trackBy: trackId">
                <td><a [routerLink]="['/event-check-in', eventCheckIn.id, 'view' ]">{{eventCheckIn.id}}</a></td>
                <td>{{eventCheckIn.userName}}</td>
                <td>{{eventCheckIn.phoneNumber}}</td>
                <td>{{eventCheckIn.address}}</td>
                <td>{{eventCheckIn.checkTime | date:'medium'}}</td>
                <td>{{eventCheckIn.isCheckIn}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/event-check-in', eventCheckIn.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/event-check-in', eventCheckIn.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/event-check-in', { outlets: { popup: eventCheckIn.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="eventCheckIns?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
